seed_everything: 57
trainer:
  max_epochs: 100
  enable_progress_bar: true
  logger:
    class_path: lightning.pytorch.loggers.CSVLogger
    init_args:
      save_dir: "logs/train"         # 日志存放的根目录
      name: "dblp"  # 子文件夹名称
  log_every_n_steps: 1
  enable_checkpointing: false
model:
  class_path: model.algorithm.Classification
  init_args: 
    pretrained_model:
      class_path: model.backbone.Encoder
      init_args:
        rgnn:
          class_path: model.backbone.rgnn.RGCN
          init_args:
            etypes:
            - paper-author
            - paper-conference
            - paper-term
            - author-paper
            - conference-paper
            - term-paper
            ntypes: ["paper", "author", "conference", "term"]
            in_channels: 256
            hid_channels: 256
            num_layers: 3
            dropout: 0.1
        project:
          class_path: model.backbone.Project
          init_args:
            in_channels:
              paper: 4231
              author: 334
              term: 50
              conference: 20
            out_channel: 256
        checkpoint_path: "logs/pretrain/dblp/version_8/last_encoder.ckpt"
    in_dim: 256
    out_dim: 4
data:
  class_path: dataset.TrainDataModule
  init_args:
    data_class: dataset.DBLPDataset
    root: "data"
    num_train_node: &num_train_node 20
    transform:
      class_path: dgl.transforms.Compose
      init_args:
        transforms:
        - class_path: dgl.RowFeatNormalizer
        - class_path: dataset.DatasetSplit
          init_args:
            num_train_per_class: *num_train_node
            val_size: 1000
optimizer:
  lr: 0.001
  weight_decay: 0.000001